# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
.env

# Jupyter
.ipynb_checkpoints

# Data (raw datasets should not be committed)
data/raw/
data/interim/
data/processed/

#Output figures to and tables to reduce clutter
outputs/figures/
outputs/tables/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log